# hidden files, exluding gitattributes
.*
!.gitattributes

# data folder
/data
/lorawan-devices

# build output
/dist

# node
node_modules/

# local config
configuration/iotown-mqtt-bridge/config.yml
